/* Landing page components: introduction
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/introduction/introduction.variables.scss */
.introduction {
  background: $var-intro-bg;
  background-position: bottom, top;
  background-size: auto, cover;
  margin-top: $introduction-top-margin;
  padding: $xxxl $xl;
  position: relative;

  @media screen and (max-width: 1300px) {
    padding-top: $introduction-padding-top;
  }

  strong {
    color: $introduction-strong-color;
  }

  h1 {
    margin-top: -$s;
  }

  .introduction-holder {
    margin: auto;
    position: relative;
    width: $introduction-holder-width;
  }

  .design-system-img {
    margin-top: $introduction-design-system-img-margin-top;

    .divider-tool-and-pencil {
      width: $introduction-divider-tool-width;
    }

    .divider-tool {
      margin: $introduction-divider-tool-margin $introduction-divider-tool-margin 0;
    }

    .divider-tool-and-pencil,
    .ruler-and-keyboard,
    .mouse {
      display: inline-block;
      vertical-align: bottom;
    }

    .ruler-and-keyboard {
      margin-left: $l;
      width: $introduction-ruler-and-keyboard-width;
    }

    .ruler {
      margin-bottom: $m;
      width: $introduction-ruler-width;
    }

    .mouse {
      height: $introduction-mouse-height;
      margin-left: $l;
      width: $introduction-mouse-width;
    }

    .svg-line-to-consistency {
      position: absolute;
      right: $introduction-svg-line-to-consistency-right;
      top: $introduction-svg-line-to-consistency-top;
    }
  }

  .consistency-autonomy-img {
    margin-top: $introduction-consistency-autonomy-img-margin-top;

    .mobile-phone,
    .laptop,
    .title,
    .laptop-mobile {
      display: inline-block;
    }

    .mobile-phone,
    .laptop {
      vertical-align: bottom;
    }

    .mobile-phone {
      margin-right: $m;
      width: $introduction-mobile-phone-width;
    }

    .laptop {
      width: $introduction-mobile-laptop-width;
    }

    .laptop-mobile {
      width: $introduction-mobile-laptop-mobile-width;
    }

    .laptop-mobile,
    .title {
      vertical-align: top;
    }

    .title {
      margin-left: $xl;
      width: $introduction-title-width;
    }

    h1 {
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }

    .svg-line-to-market {
      left: $introduction-svg-line-to-market-left;
      position: absolute;
      top: $introduction-svg-line-to-market-top;
    }
  }

  .fast-market-img {
    margin-top: $introduction-fast-market-img-margin-top;
    padding-bottom: $introduction-fast-market-img-padding-bottom;

    .title,
    .monitor {
      display: inline-block;
      vertical-align: top;
    }

    .title {
      width: $introduction-monitor-title-width;
    }

    .monitor {
      margin-left: $introduction-monitor-margin-left;
      margin-top: $introduction-monitor-margin-top;
      width: $introduction-monitor-width;
    }
  }

  // =================================
  //   Mobile version
  // =================================
  @media screen and (max-width: $sd-max) {
    h1 {
      font-size: $introduction-h1-font-size;

      strong {
        display: block;
      }
    }

    h3 {
      font-size: $introduction-h3-font-size;
    }

    svg {
      display: none;
    }

    .introduction-holder {
      width: 100%;
    }

    .design-system-img {
      display: flex;
      justify-content: center;
      width: 100%;

      .divider-tool-and-pencil {
        display: flex;
        flex-direction: column;
        width: auto;

        .divider-tool {
          margin: 0 0 0 $xs;
          width: $introduction-mobile-divider-tool-width;
        }

        .pencil {
          width: $introduction-mobile-pencil-width;
        }
      }

      .ruler-and-keyboard {
        display: flex;
        flex-direction: column;
        margin-left: $s;
        max-width: $introduction-mobile-ruler-and-keyboard-max-width;
        width: 100%;

        .ruler {
          margin-bottom: $s;
          width: $introduction-mobile-ruler-width;
        }

        .keyboard {
          width: $introduction-mobile-keyboard-width;
        }
      }
      // end ruler-keyboard

      .mouse {
        margin-left: $s;
        width: $introduction-mobile-mouse-width;
      }

      .svg-line-to-consistency {
        right: $introduction-mobile-svg-line-to-consistency-right;
        top: $introduction-mobile-svg-line-to-consistency-top;
      }
    }
    // end design-system

    .consistency-autonomy-img {
      display: flex;
      flex-direction: column-reverse;
      margin-top: $introduction-mobile-consistency-autonomy-img-margin-top;

      .title {
        margin-left: 0;
        text-align: center;
        width: 100%;
      }

      .laptop-mobile {
        display: flex;
        justify-content: center;
        width: 100%;

        .laptop {
          width: $introduction-mobile-laptop-and-monitor-width;
        }
      }
    }
    // end autonomy-img

    .fast-market-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: $introduction-mobile-fast-market-img-margin-top;

      .title {
        text-align: center;
        width: 100%;
      }

      .monitor {
        margin: 0 auto;
        margin-top: $xl;
        width: $introduction-mobile-laptop-and-monitor-width;
      }
    }
  }
}
