doctype html
html
  head
    title= 'Welcome to EOS Design System | EOS'
    meta(name='description', content= 'EOS provides developers with comprehensive guides on Colors, Icons and Writing. This tools will enable you to deliver engaging UI and consistent UX')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    meta(property='og:title', content='EOS Open Source Design System')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.eosdesignsystem.com')
    meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1550833469/EOS/Social/eos-design-system.jpg')
    link(rel='stylesheet', href='./css/vendors.min.css')
    link(rel='stylesheet', href='./css/application-landing.css')
    script(src='./js/vendors.min.js')
    script(src='./js/application-landing.min.js')
  body
    include ../landing-page/shared/cookies-banner.pug
    block content
