/* Landing page components: cookies-alert
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/cookies-alert/cookies-alert.variables.scss */
.cookies-alert {
  background: $cookies-banner-background;
  bottom: 0;
  box-shadow: $cookies-banner-boxshadow;
  display: none;
  flex-direction: row;
  margin: 0;
  padding: 0 50px;
  position: fixed;
  right: 0;
  width: $cookies-banner-width;
  z-index: $cookies-banner-zindex;

  @media screen and (max-width: $sd-max) {
    flex-direction: column;
  }

  // Body style
  &-body {
    font-size: $cookies-banner-fontsize;
    width: $cookies-banner-body-width;

    @media screen and (max-width: $sd-max) {
      width: $cookies-banner-body-width-device;
    }
  }

  // Buttons style
  &-buttons {
    display: flex;
    justify-content: flex-end;
    padding: $cookies-banner-buttons-padding;
    width: $cookies-banner-buttons-width;

    @media screen and (max-width: $sd-max) {
      justify-content: flex-start;
      width: $cookies-banner-buttons-width-device;
    }

    button {
      font-size: $cookies-banner-fontsize;
      margin: $cookies-banner-button-margin;
    }
  }
}

.cookies-alert-body {
  align-items: center;
  display: flex;

  p {
    color: $cookies-alert-p-color;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: $cookies-alert-p-padding;
  }
}

.cookies-alert-buttons {
  align-items: center;
  display: flex;

  .btn-primary {
    color: $cookies-accept-color;
    padding: $cookies-alert-buttons-padding;
  }

  .btn-default {
    align-items: center;
    background-color: $cookies-alert-button-default-background-color;
    border-color: $cookies-alert-button-default-border-color;
    color: $cookies-alert-button-default-color;
    display: flex;
    padding: $cookies-alert-buttons-padding;

    &:hover {
      background: $bc-gray-100;
    }
  }
}
